body {
  background-color: #222831;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}

h1 {
    color: #DDDDDD;
}

h3 {
    color: #DDDDDD;
}

ul {
    color: #DDDDDD;
}

table {
    color: #DDDDDD;
}

ol {
    color: #DDDDDD;
}

form {
    color: #DDDDDD;
}

p {
    color: #DDDDDD;
}

a {
    color: #DDDDDD;
}